body {
    background-color: rgb(239, 185, 225);
}

a {
    color: rgb(99, 189, 99);
}

a:hover{
    color:orange
}
a:hover{
    text-decoration: double underline;
}

li {
    border: 1px solid black;
    margin-bottom: 5px;
}

#container {
    width: 60%;
    display:flex;
    justify-content: space-between;
    p{
        background-color: rgb(105, 201, 105);
    }
}

div{
    display:block;
}

table, th, td {
    border: 1px solid black;
}

form{
    width: 40%;
    display: flex;
    justify-content: space-around;
}